<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chapter12.MemberMapper">
	
	<insert id="insertMember" parameterType="chapter12.MemberVO">
		INSERT INTO member(
			id, name, filename_org, filename_real, password
		) VALUES(
			#{id}, #{name}, #{filename_org}, #{filename_real}, MD5(#{password})	 <!-- statement로 쓸거면 따옴표 필수 ex. '${id}' -->	
		)
		<selectKey keyProperty="no" order="AFTER" resultType="int">		<!-- membervo에 있는 no임. 거기에 select한 값을 넣어주는 것 -->
			SELECT LAST_INSERT_ID()		<!-- 내가 방금 insert한 그 데이터의 주소?가 나온다?-->
		</selectKey>
	</insert>
	
	<insert id="insertHobby" parameterType="chapter12.HobbyVO">
		INSERT INTO hobby(
			<!-- hobbyname,member_no --> 
			hobbyname, member_no
		) VALUES(
			#{hobbyname}, #{member_no}
		)
	</insert>
	
	<select id="listall" resultType="chapter12.MemberVO">
		SELECT no, id, name, filename_org, filename_real
			FROM member ORDER BY no DESC
	</select>
	
	<select id="login" resultType="chapter12.MemberVO" parameterType="chapter12.MemberVO">
		SELECT * FROM member WHERE id=#{id} AND password=MD5(#{password})
	</select>
	
	
	<select id="view" resultType="chapter12.MemberVO" parameterType="int">
		SELECT * FROM member WHERE no=#{no}
	</select>
</mapper>